// @import '../../colors';
@import '../../_colors.scss';

.button {
    padding: 4px 8px; // TODO: update this with variables from the sizes below, when I get that far
    cursor: pointer;
    border-radius: var(--btn-radius);
    color: var(--btn-color);
    border: var(--btn-border_width) solid var(--btn-border);
    background: var(--btn-background);
    transition: .25s ease;
    font-size: 1em;
    // cursor: pointer;

    &:hover, &:active, &:focus {
        background-color: var(--btn-bg_hover);
    }

    &[disabled] {
        pointer-events: none;
        opacity: .5;
    }

    &.uppercase {
        text-transform: uppercase;
    }
    
    &.success {
        background-color: #{$success};
        border-color: #{$success};
    }

    &.text {
        --btn-background: transparent;
        --btn-border: transparent;
        --btn-color: #{$white};
        --btn-border_width: 0px;

        &:hover, &:active, &:focus {
            --btn-bg_hover: #{$black-10};
        }
    }
    
    &.contained {
        --btn-background: ;
        --btn-border: ;
        --btn-color: ;
        
        &:hover, &:active, &:focus {
            background: #{$black-80};
        }
    }
    
    &.outlined {
        --btn-background: ;
        --btn-border: ;
        --btn-color: ;

        &:hover, &:active, &:focus {
            
        }
    }
    
    &.warning {
        background-color: $warning;
        border-color: $warning;

        &:hover, &:active, &:focus {
            
        }
    }

    &.br-slight {
        --btn-radius: .125em;
    }

    &.br-curved {
        --btn-radius: .5em;
    }

    &.br-round {
        --btn-radius: 10em;
    }

    &.sm {
        font-size: .8em;
        padding: 2px 4px;
    }

    &.md {
        font-size: 1em;
        padding: 4px 8px;
    }

    &.lg {
        font-size: 1.5em;
        padding: 8px 16px;
    }

     svg {
        margin-right: 4px;
    }
}